<header id="header-wrapper">
  <%= link_to root_path, id:"root-path" do %>
    <div class="red-title"><span class="white-title">S</span><span class="black-title">c</span><span class="blue-title">o</span>r<span class="golde-title">eS</span>h<span class="blue-title">e</span><span class="black-title">e</span><span class="white-title">t</span></div>
  <% end %>
  <%# <form id="header-where" action="/input/" method="get">
    <input type="text" id="top-input" name='i' placeholder="検索したいカラム名を入力してください">
    <button class="search-btn">検索</button>
  </form> %>
</header>

<div class="diary-show">
  <div class="diary-box">
    <h2 class="name">
      <%= @user.nickname %>さんのプロフィール<br>
    </h2>
    <%= @user.introduction %><br>
    <table  class = "intro">
      <tbody>
        <tr>
          <th class = "intro_title">ハンドル<th>
          <td class = "intro_users"><%= @user.handle %><td>
        </tr>
        <tr>
          <th class = "intro_title">リム<th>
          <td class = "intro_users"><%= @user.rim %><td>
        </tr>
        <tr>
          <th class = "intro_title">弦<th>
          <td class = "intro_users"><%= @user.bowstring %><td>
        </tr>
        <tr>
          <th class = "intro_title">矢<th>
          <td class = "intro_users"><%= @user.arrow %><td>
        </tr>
        <tr>
          <th class = "intro_title">その他<th>
          <td class = "intro_users"><%= @user.other %><td>
        </tr>
      </tbody>
    </table>
    <% if user_signed_in? && current_user.id == @user.id %>
      <%= link_to 'プロフィールの編集', edit_user_registration_path(@user.id), method: :get, class: "diary-red-btn" %>
    <% else %>
    
    <% end %>

  </div>
    <ul class='diary-lists'>
      <% @diaries.each do |diary| %>
      <li class='list'>
        <%= link_to(user_path(diary.user.id)) do%>
        <% end %>
        <%= link_to(diary_path(diary.id), method: :get) do %>
          <div class='diary-info'>
            <h3 class='diary-date'>
              <%= diary.date %><br>
            </h3>
            <div class='diary-description'>
              <%= diary.total_memo %>
            </div>
          </div>
        <% end %>
      </li>
    <% end %>
    </ul>

</div>



<%# <h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p> %>
