<header id="header-wrapper">
  <%= link_to root_path, id:"root-path" do %>
    <div class="red-title"><span class="white-title">S</span><span class="black-title">c</span><span class="blue-title">o</span>r<span class="golde-title">eS</span>h<span class="blue-title">e</span><span class="black-title">e</span><span class="white-title">t</span></div>
  <% end %>
  <%# <form id="header-where" action="/input/" method="get">
    <input type="text" id="top-input" name='i' placeholder="検索したいカラム名を入力してください">
    <button class="search-btn">検索</button>
  </form> %>
</header>

<div class="diary-show">
  <div class="diary-box">
    <h2 class="name">
      <%= @exercise.distance.name %><br>
      天気：<%= @exercise.weather.name %><br>
    </h2>
    <table class="score-table">
      <tbody>
        <tr>
          <th class="score-item">エンド</th>
          <td class="score-value">1</td>
          <td class="score-value">2</td>
          <td class="score-value">3</td>
          <td class="score-value">4</td>
          <td class="score-value">5</td>
          <td class="score-value">6</td>
          <td class="score-value">total</td>
          <td class="score-value">ground_total</td>
        </tr>
        <% @scores.each do |score| %>
          <tr>
            <th class="score-item"><%= score.end.name %></th>
            <td class="score-value"><%= score.first.name %></td>
            <td class="score-value"><%= score.second.name %></td>
            <td class="score-value"><%= score.third.name %></td>
            <td class="score-value"><%= score.fourth.name %></td>
            <td class="score-value"><%= score.fifth.name %></td>
            <td class="score-value"><%= score.sixth.name %></td>
            <td class="score-value"><%= score.total %></td>
            <td class="score-value"><%= score.ground_total %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="diary-description-content">
      <span class="diary-total_memo">
        <%= @exercise.memo %>
      </span>
    </div>
    <% if current_user.id == @exercise.user_id %>
      <%= link_to 'スコアの追加', new_diary_exercise_score_path(@exercise.diary_id, @exercise.id), method: :get, class: "diary-red-btn"%>
      <%= link_to '練習内容の編集', edit_diary_exercise_path(@exercise.diary_id,@exercise.id), method: :get, class: "diary-red-btn" %>
      <%= link_to "削除", diary_exercise_path(@exercise.id), method: :delete, class:"diary-destroy" %>
    <% end %>
  </div>
</div>